/* ################################################################# */
/*                          1.1 Keyframes                            */
/* ################################################################# */

@keyframes guacMarquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
}

@keyframes popInOut {
    0% { opacity: 0; transform: scale(0.8) translateY(20px); }
    10% { opacity: 1; transform: scale(1.1) translateY(0); }
    80% { opacity: 1; transform: scale(1) translateY(0); }
    100% { opacity: 0; transform: scale(0.8) translateY(20px); }
}

@keyframes grid-drift {
    from {
        background-position: 0 0, 0 0;
    }
    to {
        background-position: 3rem 3rem, 3rem 3rem;
    }
}