/* ################################################################# */
/*                                                                   */
/* INDEX                                                             */
/*                                                                   */
/*                                                                   */
/* 0.1 - Root                                                        */
/*                                                                   */
/* 1.0 - Navbar Root                                                 */
/* 1.1 ----- Announcement                                            */
/* 1.2 ----- Navbar                                                  */
/* 1.3 ----- Dropdown                                                */
/* 1.4 ----- Buttons                                                 */
/*                                                                   */
/* 2.0 - Notification                                                */
/*                                                                   */
/* 3.0 - Login                                                       */
/* 3.1 ----- Login Left                                              */
/* 3.2 ----- Login Button                                            */
/* 3.3 ----- Login Right                                             */
/*                                                                   */
/* 4.0 - Buttons                                                     */
/* 4.1 ----- Return Button                                           */
/*                                                                   */
/* 5.0 - Dividers                                                    */
/*                                                                   */
/* 6.0 - Dev-Log                                                     */
/*                                                                   */
/* ################################################################# */


/* ################################################################# */


/* ################################################################# */
/*                           0.1 ROOT                                */
/* ################################################################# */

:root {

    /* Theme Specific */
    --mm-background: #392580;

    /* Color Palette */
    --mm-red: #ff0000;
    --mm-orange: #ffe600;
    --mm-blue: #0059ff;
    --mm-green: #09ff00;
    --mm-black: #000000;
    --mm-white: #FFF;
    --mm-pink: #ff00dd;
    --mm-grey: #8d8d8d;
    --mm-yellow: #fbff00;
    
    /* Navbar Theme */
    --mm-nav-background: #352377;
    --mm-nav-text: #FFF;
    --mm-nav-text-hover: #FFF;
    --mm-nav-text-shadow: 0 2px 2px rgba(0,0,0,.3);
    --mm-nav-height: 4rem;
    --mm-nav-border-bottom: 1px solid rgba(255,255,255,0.2);
    --mm-nav-button-text: #FFF;
    --mm-nav-button-primary: rgba(255,255,255,0.05);
    --mm-nav-button-seconday-hover: #b30303;
    --mm-nav-button-outline: 2px solid rgba(255,255,255,0.15);

    /* Announcement Bar Theme */
    --mm-ab-height: 3rem;
    --mm-ab-background: #322170;
    --mm-ab-text: #FFF;
    --mm-ab-icon-size: 24px;

    /* Notification */
    --mm-notification-outline-correct: 2px solid rgb(0, 255, 13);
    --mm-notification-outline-wrong: 2px solid rgb(255, 0, 0);
    --mm-notification-outline-warning: 2px solid rgb(255, 196, 0);

    /* Auth Theme */
    --mm-auth-section-background: #392580;
    --mm-auth-background: #635bbe;
    --mm-auth-text: #FFF;
    --mm-auth-outline: 2px solid rgba(255, 255, 255, 0.226);
    --mm-auth-input-bg: #FFF;
    --mm-auth-input-placeholder-text: #FFF;
    --mm-auth-input-focused: #FFF;
    --mm-auth-button-bg: transparent;
    --mm-auth-button-text: #FFF;

    /* Components Theme */
    --mm-comp-background: #422880;
    --mm-comp-background-second: #3a236e;
    --mm-comp-header-border: 2px solid rgba(255,255,255,0.15);
    --mm-comp-background-hover: #3d2575;
    --mm-comp-border: 2px solid rgba(255, 255, 255, 0.15);
    --mm-comp-box-shadow: 0 6px 2px rgba(0,0,0,0.3);
    --mm-comp-box-shadow-hover: 0 10px 2px rgba(0,0,0,0.6);
    --mm-comp-transform-hover: -4px;

    /* Tooltip Theme */
    --mm-tooltip-border: 2px solid rgba(255,255,255,0.3);
    --mm-tooltip-background: rgba(0,0,0,0.7);

    /* Button Specific */
    --mm-button-box-shadow: 0 4px 2px rgba(0,0,0,0.3);
    --mm-button-box-shadow-hover: 0 2px 2px rgba(0,0,0,0.3);
    --mm-button-hover-movement: 1px;

}

/* ################################################################# */
/*                   0.1 PAGE SPECIFIC HTML / BODY                   */
/* ################################################################# */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    background: var(--mm-background);
}

html,body::after {
    z-index: 0;
    content: "";
    position: absolute;
    inset: 0;
    background-image:
    linear-gradient(
        to right,
        rgba(255, 255, 255, 0.015) 2px,
        transparent 1px
    ),
    linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.015) 2px,
        transparent 1px
    );
    background-size: 3rem 3rem;
    animation: grid-drift 10s linear infinite;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* ################################################################# */
/*                           0.2 FRAMEWORK                           */
/* ################################################################# */

.moodmap-flex {
    display: flex;
}

.moodmap-flex-fw {
    flex: 0 0 100%; 
}

.moodmap-flex-hw {
    flex: 0 0 50%;
}

.moodmap-flex-fw-grow {
    flex: 1 1 100%;
}

.moodmap-flex-hw-grow {
    flex: 1 1 50%;
}

.moodmap-flex-sb {
    justify-content: space-between;
}

.moodmap-flex-jc {
    justify-content: center;
}

.moodmap-ac {
    align-items: center;
}

.moodmap-text-c {
    text-align: center;
}

/* ################################################################# */
/*                            1.0 NAVBAR                             */
/* ################################################################# */

.moodmap-navbar {
    min-height: var(--mm-nav-height);
    background-color: var(--mm-nav-background);
    border-bottom: var(--mm-nav-border-bottom);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    padding: 0 5rem;
    margin-bottom: 4rem;
}

.moodmap-logo-size {
    height: 48px;
}

.moodmap-navbar-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.moodmap-navbar-content {
    display: flex;
    align-items: center;
    color: var(--mm-nav-text);
    font-size: 0.9rem;
    opacity: 0.9;
}

.moodmap-navbar-content span {
    margin-left: 0.5rem;
}

.moodmap-navbar-right {
    display: flex;
    align-items: center;
}

.moodmap-navbar-buttons {
    display: flex;
    gap: 0.75rem;
}

.moodmap-navbar-buttons i {
    margin-left: 0.5rem;
}

.moodmap-navbar-buttons button {
    background: var(--mm-nav-button-primary);
    border: var(--mm-nav-button-outline);
    color: var(--mm-nav-button-text);
    padding: 0.75rem 1.25rem;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 600;
    box-shadow: var(--mm-button-box-shadow);
}

.moodmap-navbar-buttons button:hover {
    background-color: rgba(255,255,255,0.12);
    border-color: rgba(255,255,255,0.4);
    box-shadow: var(--mm-button-box-shadow-hover);
    transform: translateY(var(--mm-button-hover-movement));
}

.moodmap-navbar-buttons button:last-child:hover {
    background-color: var(--mm-nav-button-seconday-hover);
    color: #fff;
}

/* ################################################################# */
/*                     1.1 NAVBAR - ANNOUNCEMENT                     */
/* ################################################################# */

.announcement-bar {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--mm-ab-background) !important;
    border-bottom: var(--mm-nav-border-bottom);
    padding: 0.5rem 0;
    font-size: 0.875rem;
    z-index: 1;
    align-items: center;
}

.announcement-track {
    display: flex;
    align-items: center;
    padding-left: 100%;
    animation: guacMarquee 18s linear infinite;
}

.announcement-track span {
    color: var(--mm-ab-text);
    font-weight: 500;
}

.announcement-bar-flag:first-child,
.announcement-bar-flag {
    margin-right: 0.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--mm-ab-icon-size);
    height: var(--mm-ab-icon-size);
}

.announcement-bar-flag:last-child {
    margin-right: 0 !important;
    margin-left: 0.5rem !important;
}

/* ################################################################# */
/*                        2.0 NOTIFICATION                           */
/* ################################################################# */

.moodmap-notification {
    position: fixed;
    bottom: 25px;
    right: 25px;
    color: #fff;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    z-index: 9999;
    font-size: 1.1rem;
    font-weight: 600;
    animation: fadeInOut 4s ease-in-out;
    pointer-events: none;
}

.moodmap-notification.correct {
    background-color: rgb(0, 128, 0); 
    border: var(--mm-notification-outline-correct);
}

.moodmap-notification.wrong {
    background-color: rgba(228, 8, 8, 0.849);
    border: var(--mm-notification-outline-wrong);
}

.moodmap-notification.warning {
    background-color: rgb(255, 180, 0); 
    border: var(--mm-notification-outline-warning);
}

/* ################################################################# */
/*                             3.0 LOGIN                             */
/* ################################################################# */

.login-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--mm-auth-text);
    position: relative;
    overflow: hidden;
    background-color: var(--mm-auth-section-background);
    padding: 0;
}

.login-section::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image:
    linear-gradient(
        to right,
        rgba(255, 255, 255, 0.015) 2px,
        transparent 1px
    ),
    linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.015) 2px,
        transparent 1px
    );
    background-size: 3rem 3rem;
    animation: grid-drift 10s linear infinite;
}

.login-box {
    z-index: 1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
    max-width: 65rem; 
    background: var(--mm-auth-background);
    border-radius: 0.75rem;
    border: 4px solid rgba(72, 65, 145, 0.9);
    overflow: hidden;
    box-shadow: 10px 10px 2px rgba(80, 71, 180, 0.5);
}

/* ################################################################# */
/*                        3.1 LOGIN LEFT                             */
/* ################################################################# */

.login-page-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.login-form-wrapper {
    width: 100%;
    max-width: 22.5rem;
}

.login-form-wrapper h2 {
    position: relative;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--mm-auth-text);
}

.login-form-wrapper h2::after {
    content: "";
    display: block;
    width: 6rem;              
    height: 4px;              
    background-color: var(--mm-auth-text); 
    margin: 1rem auto 0;   
}

.login-form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.login-form-wrapper input {
    padding: 0.9rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
}

.login-form-wrapper input:focus {
    opacity: 0.8;
    border: none;
    outline: none !important;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.3);
}

/* ################################################################# */
/*                        3.2 LOGIN BUTTON                           */
/* ################################################################# */

.button-wrapper-login {
    margin-top: 0.5rem;
    display: flex;           
    gap: 1rem;           
}

.button-wrapper-login button {
    flex: 1;                  
    padding: 0.9rem;
    border-radius: 0.5rem;
    border: var(--mm-auth-outline);
    background: var(--mm-auth-button-bg);
    color: var(--mm-auth-button-text);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.15s ease, background 0.2s ease;
}

.button-wrapper-login button:hover {
    background: rgba(99, 107, 241, 0.45);
    transform: translateY(-2px);
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.3);
}

/* ################################################################# */
/*                        3.3 LOGIN RIGHT                            */
/* ################################################################# */

.login-page-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #473ea7;
}

.login-right-logo {
    width: 100%;
    max-width: 15rem;
}

/* ################################################################# */
/*                           4.0 BUTTONS                             */
/* ################################################################# */

/* ################################################################# */
/*                       4.1 BUTTONS - RETURN                        */
/* ################################################################# */

.return-button-moodmap {
    position: fixed;      
    top: 35px;           
    left: 35px;          
    z-index: 999;         
}

.return-button-moodmap button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent; 
    color: #ffffff;
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 0.5rem;
    padding: 1rem 1.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.15s ease, background 0.2s ease;
}

.return-button-moodmap button:hover {
    border: 2px solid rgba(255,255,255,0.5);
    background: rgba(99, 107, 241, 1);
    transform: translateY(-2px);
}

/* ################################################################# */
/*                          5.0 DIVIDERS                             */
/* ################################################################# */

.section-divider {
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    margin: 2rem 0;
}

.section-divider-devlog {
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    margin: 2rem 10rem 4rem;
}

/* ################################################################# */
/*                           6.0 DEV-LOG                             */
/* ################################################################# */

.dev-log-section {
    max-width: 80%;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    color: #FFF;
}

.dev-log-section a {
    text-decoration: none !important;
    color: inherit;
    z-index: 1;
}

.dev-log-content-wrapper {
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
    background-color: rgba(104, 103, 122, 0.15);
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 1px rgba(0,0,0,0.3);
    border: 4px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}

.dev-log-meta {
    text-align: center;
    margin-bottom: 3rem;
}

.dev-log-meta p:first-child {
    font-size: 0.8rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: -1rem;
}

.dev-log-meta h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.dev-log-meta h2::after {
    content: "";
    display: block;
    width: 6rem;              
    height: 3px;              
    background-color: var(--mm-auth-text); 
    margin: 1rem auto 0;   
}

.dev-log-meta p:last-child {
    opacity: 0.7;
    font-size: 1rem;
}

.dev-log-entry {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dev-log-entry-header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.dev-log-entry-meta {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.dev-log-reading-time,
.dev-log-date {
    font-size: 0.85rem;
    opacity: 0.8;
}

.dev-log-entry-meta-right span:not(:last-child) {
    margin-right: 0.5rem;
}

.dev-log-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.dev-log-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.dev-log-badge {
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.08);
    opacity: 1;
    user-select: none;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.dev-log-badge.frontend {
    background-color: rgb(27, 116, 199);
}

.dev-log-badge.backend {
    background-color: rgb(168, 153, 20)
}

.dev-log-badge.setup {
    background-color: rgb(207, 13, 13)
}

.dev-log-badge.components {
    background-color: rgb(10, 155, 34)
}

.dev-log-entry-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.6;
    max-width: 780px;
}

.dev-log-entry-body p {
    opacity: 0.9;
    margin-bottom: 0;
}

.dev-log-entry-body h3 {
    margin-bottom: 0;
    font-size: 1.1rem;
}

.dev-log-picture-text {
    font-size: 0.7rem;
    margin: 0;
    opacity: 0.8 !important;
}

.dev-log-entry-body img {
    width: 100%;
    border-radius: 6px;
    margin: 0.5rem 0;
    opacity: 0.95;
}

.dev-log-entry-body .dev-log-img.extra-tiny {
    width: 12.5%;
    border-radius: 6px;
    opacity: 0.95;
}

.dev-log-entry-body .dev-log-img.tiny {
    width: 25%;
    border-radius: 6px;
    opacity: 0.95;
}

.dev-log-entry-body .dev-log-img.small {
    width: 50%;
    border-radius: 6px;
    opacity: 0.95;
}

.dev-log-entry-body .dev-log-img.medium {
    width: 75%;
    border-radius: 6px;
    opacity: 0.95;
}

.dev-log-entry-body img {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dev-log-code {
  font-family: "Fira Code", monospace;
  background: #0e0e0e;
  color: #c7f9cc;
  padding: 0.6rem 0.9rem;
  border-radius: 6px;
  font-size: 0.9rem;
  border: 1px solid rgba(0, 255, 100, 0.2);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
}

.dev-log-code::before {
  content: "$ ";
  color: #7cff9e;
  opacity: 0.8;
}

.dev-log-overview-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 2rem; 
    margin: 0 auto;
}

.dev-log-overview-card {
    z-index: 1;
    flex: 1 1 300px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 0.5rem;
    background-color: var(--mm-comp-background);
    border: var(--mm-comp-border);
    box-shadow: var(--mm-comp-box-shadow);
    transition: all 0.2s ease-in-out;
}

.dev-log-overview-card:hover {
    box-shadow: var(--mm-comp-box-shadow-hover);
    transform: translateY(var(--mm-comp-transform-hover));
}

.dev-log-overview-card-meta {
    background-color: var(--mm-comp-background-second);
    border-bottom: var(--mm-comp-header-border);
    opacity: 0.75;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.dev-log-overview-card-center {
    width: 100%;
    height: 200px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--mm-comp-header-border);
}

.dev-log-overview-card-center img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.dev-log-overview-card-desc {
    text-align: left !important;
    display: flex;
    background-color: var(--mm-comp-background-header);
    padding: 2rem;
    flex-direction: column;
}

.dev-log-overview-card-desc span:not(:last-child) {
    margin-bottom: 1rem;
    font-weight: 600;
}

.dev-log-overview-card-desc span:first-child {
    font-size: 1.2rem;
    min-height: 3rem;
}

.dev-log-overview-card-desc span:last-child {
    font-size: 1rem;
    font-style: italic;
    opacity: 0.85;
}

/* ################################################################# */
/*                         7.0 GRAPH STOCK                           */
/* ################################################################# */

.graph-container {
  width: 600px;  
  height: 300px;  
  border: 2px solid #6e6e6e; 
  border-radius: 1rem;
  padding: 1rem;  
  background-color: rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
}

.graph-container-title {
  margin: 0 0 0.5rem 0; 
  text-align: center;
  color: #d6d6d6;
  font-size: 1.5rem;
}

.graph-stock-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;     
  position: relative;
  overflow: hidden;       
}

.graph-stock {
  flex: 1 1 auto;          
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ################################################################# */
/*                   8.0 COMPONENTS - INTRO BAR                      */
/* ################################################################# */

.moodmap-intro-bar {
    border-radius: 0.5rem;
    border: var(--mm-comp-border);
    background-color: var(--mm-comp-background);
    max-width: 90%;
    color: var(--mm-white);
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: 4rem;
    box-shadow: 0 6px 2px rgba(0,0,0,0.3);
}

.moodmap-intro-bar-card {
    flex: 1;           
    padding: 3rem;
    transition: all 0.2s ease-in-out;      
    flex-direction: column;     
    position: relative; 
    overflow: visible;
}

.moodmap-intro-bar-card:hover {
    background-color: var(--mm-comp-background-hover);
    border-radius: 0.5rem;
}


.moodmap-intro-bar-card:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.05);
}

.moodmap-intro-bar-card i {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;
    color: var(--mm-white);
}

.moodmap-intro-bar-card.streak i {
    color: var(--mm-orange);
    opacity: 1;
}

.moodmap-intro-bar-card h2 {
    margin-top: 0;
    position: relative;
    font-size: 1.25rem;
}

.moodmap-intro-bar-card h2::after {
    content: "";
    display: block;
    width: 4rem;              
    height: 2px; 
    opacity: 0.2;             
    background-color: var(--mm-white); 
    margin: 1rem auto 0;   
}

.moodmap-intro-bar-card span {
    font-size: 1.25rem;
    opacity: 0.8;
}

.moodmap-intro-bar-button {
    padding: 0.5rem;
    width: 40%;
    color: var(--mm-white);
    border-radius: 0.5rem;
    outline: none !important;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: #492c8d;
    margin: 0 auto;
    box-shadow: var(--mm-button-box-shadow);
}

/* ################################################################# */
/*                     8.1 COMPONENTS - TOOLTIP                      */
/* ################################################################# */

.tooltip-wrapper {
    display: inline-block;
    position: relative;
}

.tooltip-line:not(:last-child) {
    margin-bottom: 0.5rem;
}

.tooltip {
    position: fixed;           
    pointer-events: none;
    z-index: 1000;
    background-color: var(--mm-tooltip-background);
    color: var(--mm-white);
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-size: 1rem;
    transform: translateX(-50%);
    border: var(--mm-tooltip-border);
}

/* ################################################################# */
/*                  8.3 COMPONENTS - CON DOTS (DOWN)                 */
/* ################################################################# */

.con-dot-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2rem auto 2rem;
    gap: 1rem; 
    position: relative; 
    flex-direction: column;
}

.con-dot {
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

/* ################################################################# */
/*                   8.4 COMPONENTS - PRELOADER                      */
/* ################################################################# */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--mm-background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeOut 1s ease-in-out forwards;
}

.preloader-img {
    width: 20%;
    height: auto;
    animation: bounceMoodmap 1s ease-in-out;
}